/* Default */

.container {
    display: block;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Main */

.fader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: .5s;
}

.fader_visible {
    opacity: 1;
    visibility: visible;
}

.header {
    background-color: white;
    position: relative;
    z-index: 3;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-burger {
    display: block;
    z-index: 5;
    position: relative;
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 18px;
}

.header-burger_open .header-burger-menu {
    transform: scale(0);
}

.header-burger-menu,
.header-burger::before,
.header-burger::after {
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 100%;
    background: black;
    transition: .3s;
}

.header-burger::before {
    content: '';
    top: 0;
}

.header-burger::after {
    content: '';
    top: 100%;
}

.header-burger_open:after {
    transform: translate(0, -9px) rotate(45deg);
}

.header-burger_open:before {
    transform: translate(0, 8px) rotate(-45deg);
}

.main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
}

.main-nav-list {
    text-align: center;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.main-nav-list li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: .3s;
}

.main-nav-list li a:hover {
    color: #ffd200;

}

.header-block {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header-log {
    display: block;
    width: 35px;
}

.header-block button:nth-last-child(-n+1) {
    margin-left: 65px;
}

.header-block a:nth-last-child(-n+1) {
    margin-left: 65px;
}

.header-log svg {
    display: block;
    width: 100%;
}

.tel {
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #212121;
}

.tel-line {
    color: #302D1F;
    border-bottom: 1px dashed;
    border-color: black;
}

.tel-icon {
    display: none;
}

.tel-icon svg {
    display: block;
    width: 100%;
}


.header-block .tel {
    padding: 20px 35px;
    background-color: #ffd200;
    border-radius: 15px;
}

/* Main */
.main {
    height: calc(100vh - 80px);
    min-height: 300px;
    background-image: url(../images/Main-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-wrapper {
    padding-top: 40px;
    text-align: center;
}

.main-title {
    margin: 0 auto 25px;
    color: #000;
    font-family: "PF Agora Sans Pro XThin", sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 64px;
}

.main-subtitle {
    margin: 0 auto 70px;
    color: #000;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

}

.dft-btn {
    display: block;
    padding: 25px 0;
    color: #000;
    min-width: 280px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 15px;
    background-color: transparent;
    transition: 0.3s;
    max-width: 375px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: "PF Agora Sans Pro Thin", sans-serif;
    font-weight: 100;
    font-size: 26px;
    line-height: 28px;
}

.dft-btn:hover {
    color: white;
    background-color: #e11a27;
    border-color: #e11a27;
}

/* Step */
.step-list {
    display: flex;
    justify-content: space-around;
    padding: 55px 0 90px;
}

.step-list-image {
    margin-bottom: 25px;
    padding: 20px;
    width: 110px;
    height: 110px;
    border: 5px solid;
    border-radius: 50%;
    overflow: hidden;
    border-color: #ffd200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-list-image img {
    display: block;
    width: 100%;
}

.step-desc {
    text-align: center;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

}

/* Advantage */
.advantage {
    background-color: #f3f0e7;
}

.advantage-wrapper {
    text-align: center;
    padding: 60px 20px 80px;
}

.app-title {
    margin-bottom: 65px;
    font-family: "PF Agora Sans Pro XThin", sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 64px;
}

.advantage-list {
    display: flex;
}

.advantage-list-image {
    margin-bottom: 25px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}


.advantage-list-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.advantage-list li {
    width: calc(100% / 3);
    padding: 0 20px;
}

.advantage-list li:nth-last-child(n+2) {
    margin-right: 120px;
}

.section-title {
    margin-bottom: 25px;
    text-align: center;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.section-subtitle {
    margin-bottom: 100px;
    text-align: center;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.dft-btn-red {
    background-color: #e11a27;
    color: white;
    border-color: #e11a27;
}

.dft-btn-red:hover {
    color: #000;
    border: 2px solid;
    border-radius: 15px;
    background-color: transparent;
}

/* Solution */
.solution-wrapper {
    padding: 70px 0 110px;
    text-align: center;
}

.solution-list {
    display: flex;
    justify-content: space-between;
    min-height: 410px;
}

.solution-list li {
    background-color: #ffd200;
    border-radius: 5px;
    width: 315px;
    padding: 45px 5px 15px;
}

.solution-list-item-header {
    margin-bottom: 45px;
    text-align: center;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.solution-list-item-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 45px;
    min-height: 300px;
    margin-bottom: 15px;
}

.solution-sublist {
    list-style-image: url(../images/solution-list.png);
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.solution-sublist li {
    padding: 0 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    background-color: white;
}

.solution-list-item-price {
    margin-top: auto;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 64px;
}

.solution-list-item-footer {
    text-align: center;
    font-family: "PF Agora Sans Pro Thin", sans-serif;
    font-weight: 100;
    font-size: 21px;
    line-height: 25px;
}

/* Testimonials */
.testimonials {
    background-image: url("../images/banner-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.testimonials-wrapper {
    padding: 40px 0;
    width: 50%;
}

.testimonials-author {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}

.testimonials-image {
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    width: 30%;
    height: 0;
    padding-top: 30%;
    position: relative;
}

.testimonials-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.testimonials-author-info {
    padding: 50px 0;
}

.testimonials-author-title {
    margin-bottom: 10px;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
}

.testimonials-author-subtitle {
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.testimonials-desc {
    padding-bottom: 15px;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.testimonials-desc-2 {
    padding-bottom: 40px;
}

.nxt-btn {
    background-color: transparent;
    color: black;
    border: 0;
    border-color: transparent;
    font-family: "PF Agora Sans Pro Thin", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}


/* Terms */
.terms-wrapper {
    padding: 90px 0 120px;
}

.terms-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.terms-list li {
    max-width: 310px;
    width: 100%;
    background-color: #f7f0e6;
    border-radius: 0 0 10px 10px;
}

.terms-list-item {
}

.terms-title {
    padding: 20px 0;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffd200;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid;
    border-color: white;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
}

.terms-info {
    min-height: 250px;
    padding: 25px 35px 50px;
}

.terms-subtitle {
    margin-bottom: 10px;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.terms-sublist {
    list-style: disc;
    margin: 0 0 15px 20px;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.terms-list-item-text {
    margin-bottom: 15px;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.terms-sublist li {
    margin-bottom: 15px;
}

.terms-subtitle-r {
    color: #e11a27;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

/* Footer */
.footer {
    background-color: #ffd200;
}

.footer-wrapper {
    padding: 50px 0;
}

.footer-wrapper-flex {
    display: flex;
    justify-content: flex-start;
}

.footer-list {
    margin-right: 80px;
    padding-top: 30px;
    min-width: 150px;
    border-top: 1px solid;
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: .3s;
}

.footer-list li a:hover {
    color: white;
    transition: .3S;
}

.footer-list li a svg {
    display: block;
    width: 100%;
}

.footer-social-list {
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: auto;
}

.footer-social-list li {
    max-width: 25px;
    margin-right: 15px;
}

.footer-flex-logo {
    display: flex;
    justify-content: flex-end;
}

.footer-logo {
    padding: 15px;
    min-width: 60px;
    max-height: 105px;
    border: 1px solid;
    border-radius: 10px;
}

.footer-logo img {
    display: block;
    width: 100%;
}

.footer-info {
    font-family: "PF Agora Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/* Mobile */
@media screen and (max-width: 1200px) {
    .container {
        box-sizing: border-box;
    }
}

@media screen and (max-width: 992px) {
    .main-wrapper {
        padding: calc(40 / 1080 * 100%) 0 calc(150 / 1080 * 100%);
    }

    .main-title {
        font-size: 45px;
        line-height: 49px;
    }

    .main-subtitle {
        margin-bottom: 50px;
        font-size: 22px;
        line-height: 26px;
    }

    .dft-btn {
        padding: 20px 0;
        font-size: 22px;
        line-height: 26px;
    }

    .step-list {
        padding: 30px 0 50px;
    }

    .advantage-wrapper {
        padding: 40px 10px 50px;
    }

    .advantage-list {
        flex-direction: column;
    }

    .advantage-list li {
        margin: auto;
    }

    .advantage-list li:nth-last-child(n+2) {
        margin-right: 0;
        margin: auto;
    }

    .app-title {
        margin-bottom: 40px;
    }

    .section-title {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 26px;
    }

    .section-subtitle {
        margin-bottom: 50px
    }

    .solution-wrapper {
        padding: 30px 0 0;
    }

    .solution-list {
        flex-direction: column;
        margin: auto;
    }

    .solution-sublist {
        margin-left: 40px;
    }

    .solution-list li {
        width: 50%;
        margin: 0 auto 30px;
    }

    .testimonials {
        background-position: 20% 50%;
    }

    .testimonials-wrapper {
        width: 100%;
    }

    .testimonials-author-info {
        padding: 35px 0;
    }

    .testimonials-image {
        width: 20%;
        padding-top: 20%;
    }

    .btn-wrapper {
        margin-bottom: 50px;
    }

    .terms-wrapper {
        padding: 50px 0 60px;
    }

    .terms-list {
        flex-direction: column;
        padding-bottom: 50px;
    }

    .terms-list li {
        margin: 0 auto 20px;
        max-width: 400px;
    }

    .footer-wrapper-flex {
        flex-wrap: wrap;
    }

    .footer-list {
        width: calc(100% / 2 - 8px);
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-list:nth-child(2n + 1) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .header-block a:nth-last-child(-n+1) {
        margin-left: 30px;
    }

    .header-block .tel {
        padding: 10px 10px;
        border-radius: 50%;
    }

    .tel {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .tel-line {
        display: none;
    }

    .tel-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
    }


    .main-title {
        font-size: 35px;
        line-height: 39px;
    }

    .main-subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .step-list {
        flex-wrap: wrap;
        width: calc(100% / 2);
        margin: auto;
        padding: 15px 0 25px;
    }

    .step-list li {
        margin-bottom: 20px;
    }

    .step-list li:nth-child(2n + 1) {
        margin-right: 30px;
    }

    .advantage-wrapper {
        padding: 20px 0 25px;
    }

    .app-title {
        margin-bottom: 25px;
        font-size: 50px;
        line-height: 54px;
    }

    .advantage-list li {
        padding: 0;
    }

    .section-title {
        font-size: 18px;
        line-height: 22px;
    }

    .section-subtitle {
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 19px;
    }

    .dft-btn {
        padding: 20px 0;
        font-size: 18px;
        line-height: 22px;
        max-width: 300px;
    }

    .solution-wrapper {
        padding: 15px 0 0;
    }

    .solution-list li {
        width: 100%;
    }

    .solution-sublist {
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    .header-wrapper {
        flex-direction: column;
    }

    .header-block {
        width: 100%;
    }

    .step-list li:nth-child(2n + 1) {
        margin-right: 0;
    }

    .advantage-list li {
        width: 75%;
    }

    .testimonials-wrapper {
        padding: 20px 0;
    }

    .app-title {
        text-align: center;
    }

    .testimonials-author {
        flex-direction: column;
        align-items: center;
    }

    .testimonials-image {
        margin: auto;
        width: 50%;
        padding-top: 50%;
    }

    .testimonials-author-info {
        text-align: center;
    }

    .footer-wrapper-flex {
        text-align: center;
    }

    .footer-list {
        margin: auto;
        padding-top: 15px;
    }

    .footer-list:nth-child(2n + 1) {
        margin: auto;
    }

    .footer-wrapper {
        padding: 25px 0;
    }

    .footer-flex-logo {
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer-social-list li {
        margin: 0 auto 20px;
    }


}